{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1 class="headingText">Coronavirus Dashboard</h1>

    <div class="line"></div>

    <!-- About Section -->
    <section>
        <h2 class="headingText">About</h2>
        <p>This project was developed to display the Coronavirus statistics for Ireland in an easy to use
            dashboard.
            Statistics can be analysed through the use of graphs and an interactive map of Ireland which
            displays the statistics for each county in Ireland.
            Feel free to sign up to the daily newsletter to receive updates by email.</p>

        <form id="newsletter" class="input-group">

            {% csrf_token %}
            {% for field in form %}

                {{ field }}
            {% endfor %}
            <div class="input-group-append">
                <button id="cta" class="btn my-0 btn-dark" type="submit">Submit</button>
            </div>
            <div id="loadAnim"></div>
        </form>
        <div id="error"></div>
        <div id="success"></div>
    </section>

    <div class="line"></div>

    <!-- Dashboard Section -->
    <section>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h2 class="headingText">Graphs</h2>
                <div class="pr-3">
                    <p>To see details on the latest confirmed cases, deaths and recoveries for the Coronavirus
                        in Ireland, use the button below.
                        There is also confirmed cases breakdown by age, gender, transmission and
                        hospitalisation.
                    </p>
                    <button onClick="location.href='dashboard_graphs.html'"
                        class="btn btn-dark dashboardBtn">Click Here!</button>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h2 class="headingText">Interactive Map</h2>
                <div class="pl-md-3">
                    <p>Use the button below to see a visual representation of Ireland and its counties with a
                        breakdown of the confirmed cases in each county. This data is displayed when hovering
                        over the county.
                    </p>
                    <button onClick="location.href='interactive_map.html'"
                        class="btn btn-dark dashboardBtn">Click Here!</button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block postloadjs %}
    <!-- Email.js -->
    <script src="https://cdn.jsdelivr.net/npm/emailjs-com@2.4.1/dist/email.min.js"></script>
    <!-- Custom JS for email -->
    <script>
        $("#newsletter").submit(function (e) {
            // preventing from page reload and default actions
            e.preventDefault();

            $("#loadAnim").addClass("loader");

            // serialize the data for sending the form data.
            var serializedData = $(this).serialize();

            // make POST ajax call
            $.ajax({
                type: 'POST',
                url: "{% url 'newsletter' %}",
                data: serializedData,
                success: function (response) {
                    // Reset form and display success message
                    $("#newsletter").trigger('reset');
                    $("#error").remove();
                    $("#loadAnim").removeClass("loader");
                    $("#success").html(`<p>Success! You are now subscribed.</p>`);
                },
                error: function (response) {
                    // Display list of errors
                    let errors = ""
                    for(error in response["responseJSON"]["error"]){
                        errors += '<p>'+response["responseJSON"]["error"][error]+'</p>'
                    }
                    $("#error").html(errors);
                    $("#loadAnim").removeClass("loader"); 
                }
            })
        })
    </script>
{% endblock %}