source .env_python3.8/bin/activate
export DJANGO_SETTINGS_MODULE=covid_dashboard.settings
export TESTING=1
export PROJECT_ROOT=/home/jreid/Development/Coronavirus_Dashboard
export PYTHONUNBUFFERED=1;
export PYTHONPATH=$PYTHONPATH:$PROJECT_ROOT
export MYPYPATH=$PROJECT_ROOT
export PYTHONASYNCIODEBUG=1
unset PS1