<!-- Sidebar  -->
<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Coronavirus Dashboard</h3>
    </div>

    <!-- Menu Items  -->
    <ul class="list-unstyled components">
        <li class="{% if request.resolver_match.view_name == 'home' %}active{% endif %}">
            <a href="{% url 'home' %}">Home</a>
        </li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="true"
                class="dropdown-toggle">Dashboard</a>
            <ul class="collapse list-unstyled show" id="pageSubmenu">
                <li class="{% if request.resolver_match.view_name == 'graphs' %}active{% endif %}">
                    <a href="{% url 'graphs' %}">Graphs</a>
                </li>
                <li>
                    <a href="interactive_map.html">Interactive Map</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>