@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Helvetica', sans-serif;
    background: #f5f6fa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    font-weight: lighter;
    color: #32373d;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.5s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.);
}

#infoUpdated{
    margin: 0%;
    text-align: end;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    margin-bottom: 50px;
}

.spacer {
    width: 100%;
    margin: 25px 25px;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */  
.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #212121;
    color: #fff;
    transition: all 0.3s;
    background-image: url("../../assets/images/virus.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#sidebar:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: #212121;
    background: -moz-linear-gradient(45deg, #212121 0%, #32373d 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #212121), color-stop(100%, #32373d));
    background: -webkit-linear-gradient(45deg, #212121 0%, #32373d 100%);
    background: -o-linear-gradient(45deg, #212121 0%, #32373d 100%);
    background: -ms-linear-gradient(45deg, #212121 0%, #32373d 100%);
    background: linear-gradient(45deg, #212121 0%, #32373d 100%);
    opacity: .8;
    z-index: -1;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 40px 0 20px 10px;
    border-bottom: 1px solid #999;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #212121;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #32373d;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #32373d;
}

a.article,
a.article:hover {
    background: #32373d !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    MAIN CONTENT AREA STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

#newsletter{
    width: 50%;
    margin-bottom: 50px;
}

#error p{
    margin-top: 10px;
    color: red;
}

#success p{
    margin-top: 10px;
    color: green;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
        padding: 15px;
    }
    #content.active {
        width: 100%;
    }
    #sidebarCollapse span {
        display: none;
    }
    #sidebarCollapse{
        margin-left:auto
    }
    #infoUpdated{
        text-align: center;
    }
    .heading{
        font-size: 1.5rem;
    }
    .subHeading{
        font-size: 1.2rem;
    }
    p{
        font-size: 1rem;
        text-align: center;
    }
    .row{
        flex-direction: column;
    }
    #newsletter{
        width: 100%;
    }
    #dashboardSctn{
        width: 100%;
        margin-bottom: 50px;
    }
    #dashboardBtn{
        margin: auto;
        display: block;
    }

}


/* ---------------------------------------------------
    Custom CSS
----------------------------------------------------- */
h1,h2,h3{
    text-align: center;
    margin-bottom: 30px;
}


/* Removing negative margin from rows */
.row{
    margin: 0;
}

/* Fitting homepage image to column */
.img-right {
    max-width:100%;
    max-height:100%;
}

/* Setting column size to 50% */
.column {
    width: 50%;
}

/* ---------------------------------------------------
    Charts CSS
----------------------------------------------------- */
.x_title {
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 5px 6px;
    margin-bottom: 10px;
  }

  .x_title h3 {
    margin: 5px 0 6px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
  }

  .x_content p {
    margin: 5px 0 6px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .x_panel {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 1px solid #E6E9ED;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    opacity: 1;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
  }